body {
  font-family: "YouTube Noto", Roboto, arial, sans-serif;
}

.nav-bar {
  font-size: 100%;
  background-color: rgb(255, 255, 255);
  min-width: 0px;
  position: relative;
  border-width: 0px 0px 1px;
  border-style: none none solid;
  margin: 0px;
  padding: 7px 30px 8px;
  border-color: white white rgb(232, 232, 232);
}

#yt_logo {
  font-size: 100%;
  display: inline-block;
  width: 100px;
  height: 25px;
  background-size: 100px 30px;
  background-repeat: no-repeat;
  border-width: 0px;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border-color: white;
}

#country {
  background-color: transparent;
  color: rgb(118, 118, 118);
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  text-decoration: none;
  border-width: 0px;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border-color: white;
}

#upload {
  font-size: 100%;
  background-image: url(https://archive.fo/Bss88/73e7cc59947d2ad243d63294411f83990629f7fc.png);
  background-color: transparent;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-position: -125px -314px;
  background-repeat: no-repeat;
  border-width: 0px;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border-color: white;
}

#sign-in-btn {
  font: normal normal normal 12px / normal "YouTube Noto", Roboto, arial,
    sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  font-family: "YouTube Noto", Roboto, arial, sans-serif;
  font-family: "YouTube Noto", Roboto, arial, sans-serif;
  display: inline-block;
  height: 28px;
  font-weight: 500;
  font-size: 11px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.046875) 0px 1px 0px;
  background-color: rgb(22, 122, 198);
  color: rgb(255, 255, 255);
  outline: invert none 0px;
  border-width: 1px;
  border-style: solid;
  margin: 0px;
  padding: 0px 10px;
  border-color: rgb(22, 122, 198);
}
